
 /*当页面大于1200px 时，大屏幕，主要是PC 端---------------------*/ 
@media (min-width: 1200px) {
	
}
 /*在992 和1199 像素之间的屏幕里，中等屏幕，分辨率低的PC-------------------------*/ 
@media (min-width: 992px) and (max-width: 1199px) {
	.unit .xinxing{
		background: url(../images/xinxing.png) no-repeat scroll 0 0;
		background-size:40px 40px; 
		height: 40px;
		width: 40px;
	}
	.lovers .unit h4{
		font-size: 14px;
	}
	.unit:hover .xinxing{
		background: url(../images/xinxing2.png) no-repeat scroll 0 0;
		background-size:60px 60px;
		height: 60px;
		width: 60px;
	}
	.xin_baijian{ 
		left: 130px;
		width: 112px;
		height:245px;
		}
	.map-slide #demo img {
   height: 225px;
   width: 279px;
  }
  .map-show ul{
		width: 150px; 
		height: 150px; 
		margin: 20px auto;
	}
	.map-show img{
		width:150px;
		height:150px;
	}
	/*绕中心旋转，坐标轴会随旋转而旋转*/
	.map-show li{
		width:150px;
		height:150px;
	}
	/*构造六个面  :nth-child(n) 选择器匹配属于其父元素的第 N 个子元素，不论元素的类型。*/
	.map-show li:nth-child(1){   
		background:red;
		-webkit-transform:rotateX(90deg)  translateZ(75px);
	}
	.map-show li:nth-child(2){
		background:blue;
		-webkit-transform:rotateX(270deg) translateZ(75px);
	}
	.map-show li:nth-child(3){
		background:green;
		-webkit-transform:rotateY(90deg) translateZ(75px);
	}
	.map-show li:nth-child(4){
		background:black;
		-webkit-transform:rotateY(270deg) translateZ(75px);
	}
	.map-show li:nth-child(5){
		background:grey;
		-webkit-transform:translateZ(-75px);
	}
	.map-show li:nth-child(6){
		background:indianred;
		-webkit-transform: translateZ(75px) ;
	}
	.together table tr th,
	.together table tr td
	{
	  font-size: 12px;
	}
	.media-heading{
		text-align: center; 
		font-size: 14px;
	}
  
}
/*在768 和991 像素之间的屏幕里，小屏幕，主要是PAD-----------------------------------------*/ 
@media (min-width: 768px) and (max-width: 991px) {
	.unit .xinxing{
			background: url(../images/xinxing.png) no-repeat scroll 0 0;
			background-size:30px 30px; 
			height: 30px;
			width: 30px;
		}
		.lovers .unit h4{
			font-size: 12px;
		}
		.unit:hover .xinxing{
			background: url(../images/xinxing2.png) no-repeat scroll 0 0;
			background-size:40px 40px;
			height: 40px;
			width: 40px;
		}
		.xin_baijian{ 
			left: 100px;
			width: 80px;
			height:160px;
		}  
	.map-slide #demo img {
 		height: 200px;
 		width: 240px;
	}
	.map-show ul{
		width: 150px; 
		height: 150px; 
		margin: 20px auto;
	}
	.map-show img{
		width:150px;
		height:150px;
	}
	/*绕中心旋转，坐标轴会随旋转而旋转*/
	.map-show li{
		width:150px;
		height:150px;
	}
	/*构造六个面  :nth-child(n) 选择器匹配属于其父元素的第 N 个子元素，不论元素的类型。*/
	.map-show li:nth-child(1){   
		background:red;
		-webkit-transform:rotateX(90deg)  translateZ(75px);
	}
	.map-show li:nth-child(2){
		background:blue;
		-webkit-transform:rotateX(270deg) translateZ(75px);
	}
	.map-show li:nth-child(3){
		background:green;
		-webkit-transform:rotateY(90deg) translateZ(75px);
	}
	.map-show li:nth-child(4){
		background:black;
		-webkit-transform:rotateY(270deg) translateZ(75px);
	}
	.map-show li:nth-child(5){
		background:grey;
		-webkit-transform:translateZ(-75px);
	}
	.map-show li:nth-child(6){
		background:indianred;
		-webkit-transform: translateZ(75px) ;
	}
	.together table tr th,
	.together table tr td
	{
	  font-size: 12px;
	}
	.together #table-demo{
		height: 300px;
	}
	.media-heading{
		font-size: 12px;
		padding: 5px;
	}
}

/*在480 和767 像素之间的屏幕里，超小屏幕，主要是手机----------------------------*/ 
@media (min-width: 480px) and (max-width: 767px) {
	.unit .xinxing{
		background: url(../images/xinxing.png) no-repeat scroll 0 0;
		background-size:20px 20px; 
		height: 20px;
		width: 20px;
	}
	.lovers .unit h4{
		font-size: 12px;
	}
	.unit:hover .xinxing{
		background: url(../images/xinxing2.png) no-repeat scroll 0 0;
		background-size:30px 30px;
		height: 30px;
		width: 30px;
	}
	.xin_baijian{ 
		top: 50px;
		left: 70px;
		width: 40px;
		height:80px;
	}  
	.map-slide #demo img {
 		height: 175px;
 		width: 210px;
	}
	 .map-show ul{
		width: 150px; 
		height: 150px; 
		margin: 20px auto;
	}
	.map-show img{
		width:150px;
		height:150px;
	}
	/*绕中心旋转，坐标轴会随旋转而旋转*/
	.map-show li{
		width:150px;
		height:150px;
	}
	/*构造六个面  :nth-child(n) 选择器匹配属于其父元素的第 N 个子元素，不论元素的类型。-*/
	.map-show li:nth-child(1){   
		background:red;
		-webkit-transform:rotateX(90deg)  translateZ(75px);
	}
	.map-show li:nth-child(2){
		background:blue;
		-webkit-transform:rotateX(270deg) translateZ(75px);
	}
	.map-show li:nth-child(3){
		background:green;
		-webkit-transform:rotateY(90deg) translateZ(75px);
	}
	.map-show li:nth-child(4){
		background:black;
		-webkit-transform:rotateY(270deg) translateZ(75px);
	}
	.map-show li:nth-child(5){
		background:grey;
		-webkit-transform:translateZ(-75px);
	}
	.map-show li:nth-child(6){
		background:indianred;
		-webkit-transform: translateZ(75px) ;
	}
	.together table tr th,
	.together table tr td{
	  font-size: 10px;
	}
	.together #table-demo{
		height: 300px;
	}
	.media-heading{
		font-size: 10px;
		padding: 5px;
	}
	.love-text h5{
		font-size: 10px;
	}
		.xiangshitime .both{
			margin-top: -50px;
			font-size: 14px; 
		}
		.xiangshitime #mytime{ 
			font-size: 12px; 
		}
}

/*在小于480 像素的屏幕，微小屏幕，更低分辨率的手机-------------------------------------*/ 
@media (max-width: 479px) {
		.unit .xinxing{
		background: url(../images/xinxing.png) no-repeat scroll 0 0;
		background-size:20px 20px; 
		height: 20px;
		width: 20px;
	}
		.lovers .unit h4{
		font-size: 12px;
	}
	.unit:hover .xinxing{
		background: url(../images/xinxing2.png) no-repeat scroll 0 0;
		background-size:30px 30px;
		transition:1s;   /*使动画效果平滑的过度*/
		height: 30px;
		width: 30px;
	}
	.xin_baijian{
		top: 50px; 
		left: 70px;
		width: 40px;
		height:80px;
	} 
	.map-slide #demo img {
 		height: 120px;
 		width: 144px;
	}
	.map-show ul{
		width: 150px; 
		height: 150px; 
		margin: 20px auto;
	}
	.map-show img{
		width:150px;
		height:150px;
	}
	/*绕中心旋转，坐标轴会随旋转而旋转*/
	.map-show li{
		width:150px;
		height:150px;
	}
	/*构造六个面  :nth-child(n) 选择器匹配属于其父元素的第 N 个子元素，不论元素的类型。*/
	.map-show li:nth-child(1){   
		background:red;
		-webkit-transform:rotateX(90deg)  translateZ(75px);
	}
	.map-show li:nth-child(2){
		background:blue;
		-webkit-transform:rotateX(270deg) translateZ(75px);
	}
	.map-show li:nth-child(3){
		background:green;
		-webkit-transform:rotateY(90deg) translateZ(75px);
	}
	.map-show li:nth-child(4){
		background:black;
		-webkit-transform:rotateY(270deg) translateZ(75px);
	}
	.map-show li:nth-child(5){
		background:grey;
		-webkit-transform:translateZ(-75px);
	}
	.map-show li:nth-child(6){
		background:indianred;
		-webkit-transform: translateZ(75px) ;
	}
	.footsteps .button{
	   height: 200px;
	 }
	 .footsteps .button input{
	   width: 25px;
	   height: 15px;
	   font-size: 8px;
	   line-height: 8px;
	   padding: 0;
	 }
	.together table tr th,
	.together table tr td
	{
	  font-size: 8px;
	}
	.together #table-demo{
		height: 300px;
	}
	.media-heading{
		font-size: 10px;
		padding: 5px;
	}
	.love-text h5{
		font-size: 10px;
	}
	.xiangshitime .both{
		margin-top: -50px;
		font-size: 14px; 
	}
	.xiangshitime #mytime{ 
		font-size: 12px; 
	}

}
